body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-logo{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-right: 2%;
}

.nav {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:0px;
  }
  .nav li a {
    display:block;
    padding:10px 15px;
    color: #e97171;
    font-weight: bold;
    text-decoration:none;  
  }
  .nav li a:hover {
    background-color: #111111;
  }

 .header-bottom .nav-bottom {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 13%;
    margin-top: -3%;
  }

  .header-bottom .nav-bottom li{
    color: #398ecb;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 0.5%;
    border-bottom: 3px solid #efefef;
}

  .header-bottom .nav-bottom li a{
      padding: 10px 25px;
      color: #398ecb;
      font-size: 27px;
      font-weight: bold;
      text-decoration: none;
  }

  .header-bottom .nav-bottom li a:first-child{
      padding-left: 0;
  }

  .header-bottom .nav-bottom li a:active{
      color: #475669;
      border-color: #475669;
  }

  .form{
      background-color: #faf6e5;
  }

  .steps {
    padding-top: 2%;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 13%;
  }

  .steps li{
    color: #398ecb;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2%;
}

.steps li a{
      padding: 15px 25px;
      color: #398ecb;
      font-size: 27px;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid #fff;
    }

  .steps li a:first-child{
      padding-left: 0;
  }

  .steps li a:active{
      color: #475669;
      border-color: #475669;
  }

h1{
    text-transform: uppercase;
    color: #7b98ad;
    font-size: 20px;
    margin-left: 15%;
    padding-bottom: 1%;
}

textarea {
    width: 65%;
    height: 150px;
    padding: 20px 20px;
    background-color: #fff;
    font-size: 16px;
    resize: none;
    border: none;
    margin-left: 15%;
    color: #bcb8b4;
    font-size: 18px;
}

input{
    margin: 2% 0;
    padding: 21px;
    border: none;
    font-size: 16px;
    resize: none;
    border: none;
    color: #bcb8b4;
    font-size: 18px;
    width: 20%;
}

input:first-child{
    margin-left: 15%;
}


button{
    font-size: 20px;
    color: #fff;
    background-color: #ff8e41;
    padding: 20px 6.5%;
    border: none;
    margin-left: 15%;
    margin-bottom: 2%;
}

footer p{
    color: #5e6b7c;
    font-size: 16px;
    margin-left: 15%;
}

footer a{
    color: #398ecb;
}