body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header-logo{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-right: 2%;
}

.nav {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:0px;
  }
  .nav li a {
    display:block;
    padding:10px 15px;
    color: #e97171;
    font-weight: bold;
    text-decoration:none;  
  }
  .nav li a:hover {
    background-color: #111111;
  }

 .header-bottom .nav-bottom {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 13%;
    margin-top: -3%;
  }

  .header-bottom .nav-bottom li{
    color: #398ecb;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 0.5%;
    border-bottom: 3px solid #efefef;
}

  .header-bottom .nav-bottom li a{
      padding: 10px 25px;
      color: #398ecb;
      font-size: 27px;
      font-weight: bold;
      text-decoration: none;
  }

  .header-bottom .nav-bottom li a:first-child{
      padding-left: 0;
  }

  .header-bottom .nav-bottom li a:active{
      color: #475669;
      border-color: #475669;
  }

  .form{
      background-color: #faf6e5;
  }

  .steps {
    padding-top: 2%;
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin-left: 13%;
  }

  .steps li{
    color: #398ecb;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2%;
}

.steps li a{
      padding: 15px 25px;
      color: #398ecb;
      font-size: 27px;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid #fff;
    }

  .steps li a:first-child{
      padding-left: 0;
  }
  .steps li a:active{
      color: #475669;
      border-color: #475669;
  }

p{
    margin-left: 15%;
    font-size: 20px;
    line-height: 2;
}

.completed{
    font-weight: bold;
    margin-bottom: 2%;
}

button{
    font-size: 20px;
    color: #ff8e41;
    background-color: #fff;
    padding: 19px 6.5%;
    margin-bottom: 2%;
    border-color: #ff8e41;
    border-radius: 3px;
}
 
.reg{
    font-size: 20px;
    color: #fff;
    background-color: #ff8e41;
    padding: 20px 6.5%;
    border: none;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 1%;
}