<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header>
        <div class="header-top">
            <ul class="nav">
                <img src="../images/back.png" alt="Logo" class="header-logo">
                <li><a href="#">40% - мой профиль</a></li>
                <li><a href="#">139 708 чох</a></li>
                <li><a href="#">1 сообщение</a></li>
                <li><a href="#">Напомнить</a></li>
                <li><a href="#">CRUSH</a></li>
                <li><a href="#">Турист</a></li>
                <li><a href="#">Отель</a></li>
                <li><a href="#">Отзыв</a></li>
                <li><a href="">Выход</a></li>
            </ul>
        </div>
        <div class="header-bottom">
            <ul class="nav-bottom"> 
                <li class="first"><a href="#">Мой профиль</a></li>
                <li><a href="#">Отели</a></li>
                <li><a href="#">Клуб ТопХотелс</a></li>
                <li><a href="#">Помощь в подборе</a></li>
                <li><a href="#">Добавить отзыв</a></li>
            </ul>
        </div>
    </header>
    <section class="form">
        <div class="wrapper">
            <ul class="steps"> 
                    <li class="first"><a href="#">Параметры тура</a></li>
                    <li><a href="#">П1</a></li>
                    <li><a href="#">Ш2</a></li>
                    <li><a href="#">Простая форма</a></li>
                    <li><a href="#">Рега</a></li>
            </ul>
            <h1>Подберем идеальные отели для вашего незабываемого отдыха</h1>
            <form>
                    <input style="width:15%;" type="text" placeholder="Период дат вылетов">
                    <input class="date" style="width:15%;" type="date" name="dateofbirth" id="dateofbirth">
                    <select style="width:15%;" id="country" name="country">
                      <option disabled selected>Человек в номере</option>
                      <option value="au">Australia</option>
                      <option value="ca">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                    <input style="width:15%;" type="text" placeholder="Цена не более">
            </form>
            <div class="select">
                <input type="radio" name="select" checked>Турпакет
                <input type="radio" name="select">Конкретный отель
            </div>
            <form>
                    <select id="city" name="city">
                      <option disabled selected>Город вылета</option>
                      <option value="au">Australia</option>
                      <option value="ca">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                    <select id="direction" name="direction">
                        <option disabled selected>Направление</option>
                        <option value="au">Australia</option>
                        <option value="ca">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <select id="description" name="description">
                        <option disabled selected>Характеристики отеля</option>
                        <option value="au">Australia</option>
                        <option value="ca">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                    <a href="#" class="add"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADOSURBVEhLYxjZIC0tjTUzM1MQSPNDhagPsrOzhYEWvAXi/yCcmpo6GypFXQA0WBdmCdSiw1Ap6oJRi8gGQ9MiUBJOSUkxxoaBhocjWwTE57GpA2GQo+rr61mgxqICkARQMzyfUIqBlvVAjUYFQEl+dMWUYKBFS6FGo4KkpCRebBrIxTgtAgGg5GygojPYMFDuKpBGNugzTA4LPg6U94MaSxoAahzNR+SBUYvIBunp6VpoFh2ESlEXgIoooOE9QEtWAekVQExePhkFpAEGBgBgLmMftFT4ugAAAABJRU5ErkJggg=="></a>
            </form>
            <textarea>Дополнительные пожелания
                                    </textarea>
              <form action="">
                  <input type="text" placeholder="Ваше имя">
                  <input type="text" placeholder="Teлефон">
                  <input type="text" placeholder="Email(не обязательнo)">
              </form>
              <button>Отправить заявку*</button>
        </div>
    </section>
    <footer>
        <p>*Нажимая на кнопку "отправить", я принимаю <a href="">Соглашение об обработке личных данный</a> и <a href="">Правила сайта</a></p>
    </footer>
</body>
</html>